# File:		pfil.psf
#
# Purpose:	pfil Product Specification File (PSF) for swpackage
#
# Copyright:	Copyright (c) 2000-2004 Darren Reed
#
# Description:	PSF for pfil 2.1.13
#
# $Id$


# The vendor definition here applies to all subsequently defined products.
vendor
	tag		IPFilter
	title 		IPFilter Products
	description	Firewall/NAT Products
end

category
	tag		HPUXAdditions
	title		pfil
end

# Bundle definition(s):
bundle
	tag		PFIL
	title		PFIL 2.1.13
	description	STREAMS PFIL Interface providor
	revision	A.02.1.13
	architecture	HP-UX_HPREV_32/64
	machine_type	9000/[678]??:*
	os_name		HP-UX
	os_release	HPREV
	os_version	*
	category_tag	HPUXAdditions
	is_protected	false
	is_reference	false
	vendor_tag	IPFilter
	hp_srdo		swtype=O;user=B;bundle_type=O
	contents	PFIL-RUN,r=A.02.1.13,a=HP-UX_HPREV_32/64,v=IPFilter
end # bundle IPF

# Product definition(s):
product
	tag		PFIL-RUN
	title		PFIL Interface
	description	STREAMS PFIL Interface providor
	copyright	< ../copyright
	revision	A.02.1.13
	architecture	HP-UX_HPREV_32/64
	machine_type	9000/[678]??:*
	os_name		HP-UX
	os_release	HPREV
	os_version	*
	directory	/
	is_locatable	false
	vendor_tag	IPFilter

#	configure	doc/configure
#	unconfigure	doc/unconfigure

    ########################################################################
    #									   #
    #   The following filesets already exist on the system.		   #
    #									   #
    ########################################################################

    # InternetSrvcs.IPF-ALL
    fileset
	tag		PFIL-ALL
	title		PFIL 2.1.13 : PFIL-ALL
	description	< description
	revision	A.02.1.13
	architecture	HP-UX_HPREV_32/64
	machine_type	9000/[678]??:*
	os_name		HP-UX
	os_release	HPREV
	os_version	*
	is_kernel	false
	is_reboot	false

#	prerequisites	PHKL_18543.NET-KRN,a=HP-UX_HPREV_32/64,v=HP

	checkinstall	checkinstall
	preinstall	preinstall
	postinstall	postinstall
	verify		verify
	checkremove	checkremove
	preremove	preremove
	postremove	postremove

	directory	. = /
	file_permissions  -m 555 -o bin -g bin
	file	mod.o			stand/pfil/mod.o
	file	master			stand/pfil/master
	file	system			stand/pfil/system
	file	space.h			stand/pfil/space.h
	file	pfilboot		sbin/init.d/pfilboot
	file_permissions  -m 444 -o bin -g bin
	file	iu.ap			etc/opt/pfil/iu.ap
	file	../qif.h		usr/conf/net/qif.h
	file	../pfil.h		usr/conf/net/pfil.h
    end # fileset IPF-ALL

end # product IPF-RUN

